n8n/workflows/chat-auto-orchestration.json
{
  "id": "chat-auto-daily-cycle",
  "name": "HH Chat Daily Cycle",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "cron-1",
      "name": "Daily Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        170,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://runner:3001/run/chat-process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.RUNNER_AUTH_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "process-1",
      "name": "Run Chat Cycle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        430,
        280
      ]
    },
    {
      "parameters": {
        "command": "cd /files/hh-auto-clicker && node chat-auto/cli/process-cycle.js"
      },
      "id": "ai-send-log-1",
      "name": "Has Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        690,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://runner:3001/run/chat-report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.RUNNER_AUTH_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "report-1",
      "name": "Report OK Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        950,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://runner:3001/run/chat-report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.RUNNER_AUTH_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "error-report-1",
      "name": "Report Error Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        950,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{JSON.parse($json.stdout || '{}').summary?.failed || 0}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Has Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        690,
        280
      ]
    },
    {
      "parameters": {},
      "id": "manual-1",
      "name": "Manual Run Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        170,
        540
      ]
    }
  ],
  "connections": {
    "Daily Cron": {
      "main": [
        [
          {
            "node": "Run Chat Cycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Chat Cycle": {
      "main": [
        [
          {
            "node": "Has Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Run Trigger": {
      "main": [
        [
          {
            "node": "Run Chat Cycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Failures?": {
      "main": [
        [
          {
            "node": "Report Error Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report OK Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
